services: Služby
pricing: Ceník
cenikVykonu: Ceník výkonů
cenikHygienickychPomucek: CENÍK HYGIENICKÝCH POMŮCEK
serviceLaughingGas: Rajský plyn
serviceLaughingGasDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."
serviceAnesthesia: Anestezie
serviceAnesthesiaDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."
serviceAestheticDentistry: Estetická anestezie
serviceAestheticDentistryDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."

komplexVysetreni: "Komplexní vyšetření"
vizualizacePlaku: "Vizualizace plaku"
hygienickaInstruktaz: "Hygienická instruktáž"
odstraneniKamene: "Odstranění zubního kamene (1hod)"
airFlow: "Profesionální čištění zubů (air flow) - pískování"
rajskyPlyn: "Rajský plyn (1 dávka)"
rentgenMaly: "Rentgenový snímek malý"
rentgenVelky: "Rentgenový snímek velký OPG"
anestezie: "Anestezie"
bilaVypln: "Výplň bílá (fotokompozitní)"
calxyd: "Calxyd pod výplň"
biner: "Aplikace bineru pod výplň"
devipasta: "Aplikace devipasta"
calxydRozsireny: "Aplikace calxydu do rozšířeného koořenového kanálku"
zaplneniKanalku1: "Zaplnění kořenového kanálku definitivní výplní 1 kanálek"
zaplneniKanalku2: "Zaplnění kořenového kanálku definitivní výplní 2 kanálky"
zaplneniKanalku3: "Zaplnění kořenového kanálku definitivní výplní 3 kanálky"
zaplneniKanalku4: "Zaplnění kořenového kanálku definitivní výplní 4 kanálky"
kompozitniCepy: "Dostavna zubu s kompozitními čepy"
beyondPlus: "Ordinační bělení lampou BEYOND POLUS"
zubniSperk: "Zubní šperk"
extrakceZubu: "Extrakce stálého zubu"
extrakceZubuChirurg: "Chirurgická extrakce stálého zubu"
augmentace: "Augmentace kosti po jednoduchém chirurgickém zákroku"
kyretaz: "Otevřená kyretáž jednoho zubu"
zirkonovaKorunka: "Zirkonová korunka"
zirkonovyMeziclen: "Zirkonový mezičlen"
zavedeniBiomet: "Zavedení implantátu BIOMET 3i včetně augmentace"
abutmanBiomet: "Abutmant BIOMET 3i (včetně originálního samořezného šroubku)"
osetreniMimoHodiny: "Ošetření mimo ordinační hodiny"
####
####
####
####
kartacky: "Kartáčky"
soloKartacek: "Solo kartáček 5460 CURAPROX"
trojKartacek: "Trojbalení 5460 CURAPROX"
dvojKartacek: "Dvojbalení 5460 CURAPROX"
jednosvazek: "Jednosvazkový kartáček"
detskyKartacek: "Dětský kartáček CURAPROX"
cestovniKartacek: "Cestovní kartáček s pastou"
mezizubniHygiena: "Mezizubní hygiena"
mezizubniKartacky: "Mezizubní kartáčky CURAPROX 6ks"
superFloss: "Superfloss (dentální nit pod můstky)"
ustniVody: "Ústní vody"
plaqueAgent: "Plaque agent 500ml"
curasept: "Curasept 0,20% 100ml"
odolKrtecek: "Odol krteček"
kremyGelyPasty: "Krémy, gely a pasty na zuby"
pastePlus: "GS MI Paste Plus"
odolKrtecekPasta: "Odol krteček pasta"
presidentPasta: "PRESIDENT dětská pasta"
opalescence: "Opalescence bělící pasta"
curaseptGel: "Curasept gel 0,5%"
curaseptGelPasta: "Curasept gelová pasta"
ostatni: "Ostatní"
detskydudlik: "Anatomický dětský dudlík 2ks"
detskeKousatko: "Dětské kousátko"
curasafe: "Curasafe (pro transport ulomených zubů)"
krabickaNaZub: "Krabička na vytržený zoubek"

vykon: "Výkon"
az: "až"