services: Услуги
pricing: прайс-лист
cenikVykonu: Прейскурант услуг
cenikHygienickychPomucek: ПРАЙС-ЛИСТ ГИГИЕНЫ СПИД
serviceLaughingGas: томатный газ
serviceLaughingGasDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."
serviceAnesthesia: Anestezie
serviceAnesthesiaDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."
serviceAestheticDentistry: Estetická anestezie
serviceAestheticDentistryDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."

komplexVysetreni: "Комплексное обследование"
vizualizacePlaku: "Визуализация налета"
hygienickaInstruktaz: "Гигиеническая инструкция"
odstraneniKamene: "Удаление зубного камня (1 час)"
airFlow: "Профессиональная чистка зубов (воздушный поток) - пескоструйная обработка"
rajskyPlyn: "Томатный газ (1 доза)"
rentgenMaly: "Рентгеновский маленький"
rentgenVelky: "Большой рентгеновский снимок"
anestezie: "Анестезия"
bilaVypln: "Заливка белым (фотокомпозит)"
calxyd: "Calxyd под набивкой"
biner: "Приложение Biner под заполнением"
devipasta: "Приложение Devipasta"
calxydRozsireny: "Аппликация кальксида на расширенный корневой канал"
zaplneniKanalku1: "Заполнение корневого канала окончательной пломбой 1 канала"
zaplneniKanalku2: "Заполнение корневого канала окончательным пломбированием 2 каналов"
zaplneniKanalku3: "Заполнение корневого канала окончательным пломбированием 3 каналов"
zaplneniKanalku4: "Заполнение корневого канала окончательным пломбированием 4 каналов"
kompozitniCepy: "Доставка зуба композитными штифтами"
beyondPlus: "Хирургическое отбеливание лампой BEYOND POLUS"
zubniSperk: "Стоматологические украшения"
extrakceZubu: "Удаление постоянного зуба"
extrakceZubuChirurg: "Хирургическое удаление постоянного зуба"
augmentace: "Увеличение кости после простой операции"
kyretaz: "Открытый кюретаж одного зуба"
zirkonovaKorunka: "Циркон Корона"
zirkonovyMeziclen: "Циркон Промежуточный"
zavedeniBiomet: "Внедрение имплантата BIOMET 3i, включая аугментацию"
abutmanBiomet: "Абатмант БИОМЕТ 3i (включая оригинальный саморез)"
osetreniMimoHodiny: "Внеурочное время"
####
####
####
####
kartacky: "Кисти"
soloKartacek: "Кисть Solo Brush 5460 CURAPROX"
trojKartacek: "Trojbalpack 5460 CURAPROX"
dvojKartacek: "Двойная упаковка 5460 CURAPROX"
jednosvazek: "Кисть с одним пучком"
detskyKartacek: "Детская щетка CURAPROX"
cestovniKartacek: "Дорожная кисть с пастой"
mezizubniHygiena: "Межзубная гигиена"
mezizubniKartacky: "Межзубные щетки CURAPROX 6шт"
superFloss: "Superfloss (зубная нить под мосты)"
ustniVody: "Ополаскиватель для полости рта"
plaqueAgent: "Средство для удаления налета 500 мл"
curasept: "Курасепт 0,20% 100 мл"
odolKrtecek: "Сопротивление крота"
kremyGelyPasty: "Кремы, гели и зубные пасты"
pastePlus: "GS MI Paste Plus"
odolKrtecekPasta: "Одол кротовая паста"
presidentPasta: "ПРЕЗИДЕНТ детская паста"
opalescence: "Отбеливающая паста Opalescence"
curaseptGel: "Курасепт гель 0,5%"
curaseptGelPasta: "Гелевая паста Курасепт"
ostatni: "Другое"
detskydudlik: "Соска анатомическая детская 2шт"
detskeKousatko: "Прорезыватель для зубов"
curasafe: "Curasafe (для перевозки сломанных зубов)"
krabickaNaZub: "Ящик для оторванного зуба"

vykon: "Перформанс"
az: "до"