services: Služby
pricing: Ceník
serviceLaughingGas: Rajský plyn
serviceLaughingGasDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."
serviceAnesthesia: Anestezie
serviceAnesthesiaDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."
serviceAestheticDentistry: Estetická anestezie
serviceAestheticDentistryDescription: "Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur."
